{% extends 'base.html' %}

{% block content %}

<h2>About This Study</h2>

<p>We kindly ask you to read the following explanations carefully. To evaluate and further process the data, we would like to ask you for your informed consent. In the following, we provide a description of what data will be collected in this study and with whom and for what purpose the data will be shared with.  </p>

<b>Subject of this study</b>

<p>
The purpose of this study is to ... . In the study, you will be asked to ... .
</p>

<p>
<b>What is ...</b>
    <div class="tweet">
        Provide a brief intro for your work
    </div>
</p>

<b>Subject of this study</b>
<p>
Participation in the study will require approximately XX minutes (at most XX minutes). Participants will not receive any kind of compensation.
</p>


<b>Possible benefit of the study</b>

<p>
With participation in this study, you will contribute in providing scientific evidence for ... .
Such ... can be used to ... and will be of help to ... .
</p>

<b>Experiences and risks which are associated with the participation in the study</b>

<p>
The participants of the study do not face any risks which are greater than risks they face in general life.
</p>


<p><a class="button" href="/next">Next</a></p> 


{% endblock %}

